{# pipeline>=1.4 #}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{{ defaultPageName }}{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% stylesheet 'materialize' %}
  <link href="/static/main/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  {% include 'nav.html' with siteTitle=siteTitle %}
  {% block page_content %}{% endblock %}
  {% include 'footer.html' with siteTitle=siteTitle %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  {% javascript 'materialize' %}
  <script language="JavaScript" type="text/javascript" src="/static/main/js/main.js"></script>
  <script language="JavaScript" type="text/javascript" src="/static/main/js/init.js"></script>

  </body>
</html>
