{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
  <div class="container">



    <!-- Modal Structure -->
    <div id="login" class="modal">
      <div class="modal-content">
        <h4>Enter Username</h4>
        <input id="username-input" type="text" size="100"><br>
        <input id="username-submit" class="modal-close" type="button" value="Join">
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="players" class="modal bottom-sheet">
      <div class="modal-content">
        <table id="gameStats" class="centered responsive-table">
          <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Status</th>
            </tr>
          </thead>
      
          <tbody>
            <tr>
              <td colspan="3" style="text-align:center">There are no items to list...</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
      </div>
    </div>
    
    <div id="history" class="modal bottom-sheet">
      <div class="modal-content">
        <div id='chat'>
          <textarea id="chat-log" cols="100" rows="20"></textarea><br>
          <input id="chat-message-input" type="text" size="100"><br>
          <input id="chat-message-submit" type="button" value="Send">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="game-card col s12 m12 l6">
        <div id="dealerView" class="carousel carousel-slider center">
          <div class="carousel-item teal white-text" href="#">
            <h4 class="white-text">Please Wait</h4>
            <h5 class="white-text">No Cards Loaded</h5>
          </div>
        </div>
      </div>
      <div id="message" class="center"></div>
      <div class="game-card col s12 m12 l6">
        <div id="playerView" class="carousel carousel-slider center">
          <div class="carousel-item red darken-2 white-text" href="#">
            <h4 class="white-text">Please Wait</h4>
            <h5 class="white-text">No Cards Loaded</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#players" onclick="scoreModal()"><h5 id="gameStatsButton" class="black-text center-align">Stats Pending</h5></a>
      </div>
      <div class="col s12 m4">
        <h5 id="deckStats" class="black-text center-align">Deck Stats</h5>
      </div>
      <div class="col s12 m4">
        <!-- Modal Trigger -->
        <a class="modal-trigger" href="#history"><h5 class="black-text center-align">History</h5></a>
      </div>
    </div>
    
  </div>
  {{ room_name|json_script:"room-name" }}

  <script  language="JavaScript" type="text/javascript"  src="/static/main/js/game.js"></script>
{% endblock %}